@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font faces - Add your local font files here when ready */
/*
@font-face {
  font-family: 'Made Tommy';
  src: url('/fonts/MadeTommy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Made Tommy';
  src: url('/fonts/MadeTommy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Christmas Sheep';
  src: url('/fonts/ChristmasSheep-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/

@layer base {
  body {
    @apply font-made-tommy;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-christmas-sheep;
  }
}
